@model SocialBookmarkApp.Models.Bookmark

<br />

<h2 class="text-center">@Model.Title</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert text-center">
        @ViewBag.Message
    </div>
}

<div class="card p-3 mb-3">
    <p><b>Descriere:</b> @Model.Description</p>

    @if (!string.IsNullOrEmpty(Model.MediaContent))
    {
        if (Model.MediaContent.StartsWith("http"))
        {
            <img src="@Model.MediaContent" class="img-fluid rounded" />
        }
        else
        {
            @Html.Raw(Model.MediaContent)
        }
    }

    <div>
        <div>
            <i class="bi bi-person"></i>
            <a asp-controller="Profile"
               asp-action="Show"
               asp-route-id="@Model.UserId">
                @Model.User?.UserName
            </a>
        </div>
        <div><i class="bi bi-clock-fill"></i> @Model.CreatedAt.ToLocalTime() </div>
    </div>

    <div>
        <div><i class="bi bi-globe"></i> @(Model.IsPublic ? "Public" : "Privat")  </div>
    </div>
    
    <div class="mb-3">
        <i class="bi bi-heart-fill text-danger"></i>
        <strong>@Model.VotesCount</strong> voturi
    </div>
    <form asp-controller="Vote" asp-action="Toggle" method="post">
        <input type="hidden" name="bookmarkId" value="@Model.Id" />

        <button class="btn @(ViewBag.UserHasLiked ? "btn-danger" : "btn-outline-danger")">
            <i class="bi @(ViewBag.UserHasLiked ? "bi-heart-fill" : "bi-heart")"></i>
            @Model.VotesCount
        </button>
    </form>
</div>


@if (Model.BookmarkTags != null && Model.BookmarkTags.Any())
{
    <div class="mb-3">
        @foreach (var bt in Model.BookmarkTags)
        {
            <span class="badge bg-secondary me-1">@bt.Tag?.Name</span>
        }
    </div>
}

<hr />
@if (User.Identity?.IsAuthenticated ?? false)
{
    <form asp-controller="Bookmark" asp-action="AddCategory" method="post">

        <input type="hidden" name="bookmarkId" value="@Model.Id" />

        <select name="categoryId" class="form-select">
            @foreach (var c in ViewBag.UserCategories)
            {
                <option value="@c.Id">@c.CategoryName</option>
            }
        </select>

        <button type="submit" class="btn btn-success mt-2">
            Adauga in categorie
        </button>
    </form>
}
<h4>Comentarii</h4>

@if (Model.Comments != null && Model.Comments.Any())
{
    @foreach (var comm in Model.Comments)
    {
        <div class="border p-2 mb-2">
            <p>@comm.Content</p>
            <small>
                @comm.User?.UserName –
                @comm.CreatedAt.ToLocalTime()
            </small>

            @if (comm.UserId == ViewBag.UserCurent)
            {
                <div class="mt-2">
                    <a class="btn btn-sm btn-warning"
                       asp-controller="Comment"
                       asp-action="Edit"
                       asp-route-id="@comm.Id">
                        Editeaza
                    </a>

                    <form asp-controller="Comment"
                          asp-action="Delete"
                          asp-route-id="@comm.Id"
                          method="post"
                          style="display:inline">

                        <button class="btn btn-sm btn-danger"
                                onclick="return confirm('Sigur vrei sa stergi comentariul?');">
                            Sterge
                        </button>
                    </form>
                </div>
            }
        </div>
    }
    
}
else
{
    <p>Nu exista comentarii.</p>
}

<hr />

@if (User.Identity?.IsAuthenticated ?? false)
{
    <form asp-action="New" asp-controller="Comment" method="post">
        <input type="hidden" name="BookmarkId" value="@Model.Id" />

        <textarea name="Content" class="form-control"></textarea>

        <button class="btn btn-primary mt-2">Adauga comentariu</button>
    </form>
}
@if (Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
{
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editeaza</a>
}

<br />

@if (Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
{
    <form asp-action="Delete"
          asp-controller="Bookmark"
          asp-route-id="@Model.Id"
          method="post"
          style="display:inline">

        <button type="submit"
                class="btn btn-danger"
                onclick="return confirm('Sigur vrei sa stergi acest bookmark?');">
            Sterge
        </button>
    </form>
}

<a class="btn btn-secondary" asp-action="Index">Inapoi</a>